ion-toolbar{
  --background: linear-gradient(50.47deg, #CBE9F3 3.75%, #2EA0C4 89.73%);
}

.txt-home{
  text-align: center;
  color: black;
}
.txt-welcome-version{
  margin-top: 3em;
}
.txt-welcome{
  margin-top: 2em;
  color: rgb(0, 0, 0);
  text-align: center;
}
.txt-version{
  margin-top: 0em;
  color: #000;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}
.btn-generar-qr{
  position: absolute;
  width: 250px;
  height: 250px;
  left: calc(50% - 250px/2);
  top: calc(50% - 250px/2);
  --background: linear-gradient(134.09deg, #CBE9F3 -29.28%, #2EA0C4 96.75%);;
  --border-radius: 30px;
}
.img-qr{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.txt-generar{
  margin-top: 21em;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bolder;
}
.txt-qr{
  margin-top: .2em;
  color: #2F9ABC;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}