<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()">
        <ion-icon slot="start" name="menu-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start" class="txt-home"> 
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="txt-welcome-version">
    <p class="txt-welcome">BIENVENIDO</p>
    <p class="txt-version">A L U M N O S</p>
  </div>
  <div class="group-qr-generator">
    <ion-button class="btn-generar-qr" routerLink="/escanear-qr">
      <img src="/assets/qr-code.jpg " class="img-qr">
    </ion-button>
    <p class="txt-generar"> ESCANEAR </p>
    <p class="txt-qr">QR CLASE</p>
  </div>
</ion-content>
