ion-content{
    --background: radial-gradient(102.31% 102.31% at 0% 0%, #FFB169 0%, #FF7B1C 100%);
}

.img-logo{
    display: block;

    position: relative;
    top: 2rem;
    
    width: 15rem;
    margin-left: auto;
    margin-right: auto;

}

.txt-version{
    position: relative;
    top: 1.2rem;

    text-align: center;

    color: #000;
    font-size: 1rem;
    font-weight: bold;
}

.box-recuperar{
    display: block;

    position: relative;
    top: 6rem;
}

.header-recuperar{
    
    width: 15rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 15px 15px 0px 0px;
    
    background: radial-gradient(100% 1932.97% at 0% 0%, #55C4E7 0%, #2F9EC1 100%);
}

.txt-header{
    color: white;
    text-align: center;
    font-size: 0.9rem;
    line-height: 3rem;
}

.body-recuperar{

    position: relative;
    top: -0.5rem;

    width: 15rem;
    height: 7rem;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 0px 0px 20px 20px;

    background: rgba(255, 255, 255, 0.85);
}

.input-recuperar{
    position: relative;
    top: 2rem;

    width: 13rem;
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    --padding-start: 0;
    --padding-end: 0;

    border-radius: 10px;

    background: #D9D9D9;

    color: #000;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}

.boton-recuperar{
    position: relative;
    top: 4.3rem;
    
    width: 10rem;
    margin-left: auto;
    margin-right: auto;

    --border-radius: 0px 0px 15px 15px;
    --box-shadow: transparent;

    --background: #2EA0C4;
}

.boton-volver{
    display: block;

    position: relative;
    top: 13rem;

    width: 5rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;

    --border-radius: 50%;

    --background: linear-gradient(180deg, #2EA0C4 0%, #27819D 100%);

    --icon-font-size: 3rem;
}