/*#region Alumno*/
.bg-alumno{
    --background: radial-gradient(102.31% 102.31% at 0% 0%, #FFB169 0%, #FF7B1C 100%);
}
.header-alumno{
    
    width: 15rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 15px 15px 0px 0px;
    
    background: radial-gradient(100% 1932.97% at 0% 0%, #55C4E7 0%, #2F9EC1 100%);
}

.enviar-alumno{
    position: relative;
    top: 4.3rem;
    
    width: 10rem;
    margin-left: auto;
    margin-right: auto;

    --border-radius: 0px 0px 15px 15px;
    --box-shadow: transparent;

    --background: #2EA0C4;
}

.volver-alumno{
    display: block;

    position: relative;
    top: 13rem;

    width: 5rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;

    --border-radius: 50%;

    --background: linear-gradient(180deg, #2EA0C4 0%, #27819D 100%);

    --color: white;
    --icon-font-size: 3rem;
}
/*#endregion*/

/*#region Alumno*/
.bg-docente{
    --background: radial-gradient(102.31% 102.31% at 0% 0%, #CBE9F3 0%, #2EA0C4 100%);
}
.header-docente{
    
    width: 15rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 15px 15px 0px 0px;
    
    background: radial-gradient(100% 1932.97% at 0% 0%, #FFB169 0%, #FF7B1C 100%);
}

.enviar-docente{
    position: relative;
    top: 4.3rem;
    
    width: 10rem;
    margin-left: auto;
    margin-right: auto;

    --border-radius: 0px 0px 15px 15px;
    --box-shadow: transparent;

    --background: #FF7B1C;
}

.volver-docente{
    display: block;

    position: relative;
    top: 13rem;

    width: 5rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;

    --border-radius: 50%;

    --background: linear-gradient(180deg, #FFB169 0%, #FF7B1C 100%);

    --color: white;
    --icon-font-size: 3rem;
}
/*#endregion*/


.img-logo{
    display: block;

    position: relative;
    top: 2rem;
    
    width: 15rem;
    margin-left: auto;
    margin-right: auto;

}

.txt-version{
    position: relative;
    top: 1.2rem;

    text-align: center;

    color: #000;
    font-size: 1rem;
    font-weight: bold;
}

.box-recuperar{
    display: block;

    position: relative;
    top: 6rem;

    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));

}

.txt-header{
    color: white;
    text-align: center;
    font-size: 0.9rem;
    line-height: 3rem;
}

.body-recuperar{

    position: relative;
    top: -0.5rem;

    width: 15rem;
    height: 7rem;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 0px 0px 20px 20px;

    background: rgba(255, 255, 255, 0.85);
}

.input-recuperar{
    position: relative;
    top: 2rem;

    width: 13rem;
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    --padding-start: 0;
    --padding-end: 0;

    border-radius: 10px;

    background: #D9D9D9;

    color: #000;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}