ion-content{
    --background: radial-gradient(102.31% 102.31% at 0% 0%, #FFB169 0%, #FF7B1C 100%);
}

.img-logo{
    display: block;

    position: relative;
    top: 2rem;
    
    width: 15rem;
    margin-left: auto;
    margin-right: auto;

}

.txt-version{
    position: relative;
    top: 1.2rem;

    text-align: center;

    color: #000;
    font-size: 1rem;
    font-weight: bold;
}

.bg-box-login{
    position: relative;
    top: 4.6rem;
    
    width: 15rem;
    height: 12.5rem;
    margin-left: auto;
    margin-right: auto;

    border-radius: 20px;
    
    background: rgba(255, 255, 255, 0.85);

    filter: drop-shadow(0px 0px 0.5rem rgba(0, 0, 0, 0.25));
}

.bg-ico-login{
    position: relative;
    top: -2.5rem;

    width: 5rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);

    background: linear-gradient(180deg, #2EA0C4 0%, #27819D 100%);
}

.img-login{
    position: relative;
    top: 0.7rem;
    left: 0.35rem;
    
    height: 4.3rem;

    border-radius: 44%;
}

.input-login{
    position: relative;
    top: -2rem;

    width: 13rem;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    --padding-start: 0;
    --padding-end: 0;

    border-radius: 10px;

    background: #D9D9D9;

    color: #000;
    font-size: 0.9rem;
    font-weight: bold;

    text-align: center;
}

.boton-recuperar{
    position: relative;
    top: -1.4rem;

    color: #2EA0C4;

    font-size: 0.8rem;
}

.boton-login{
    position: relative;
    top: -0.7rem;
    
    width: 10rem;
    margin-left: auto;
    margin-right: auto;

    --border-radius: 0px 0px 15px 15px;
    --box-shadow: transparent;

    --background: #2EA0C4;
}

.parent-change-version{
    position: relative;
    top: 8.5rem;

}

.bg-change-version{
    display: block;

    width: 5rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;

    --border-radius: 50%;

    --background: linear-gradient(180deg, #2EA0C4 0%, #27819D 100%);
}

.img-change-version{
    display: block;

    position: relative;

    margin-left: auto;
    margin-right: auto;
    
    height: 3.5rem;
}

.txt-change-version{
    color: #000;
    text-align: center;
    font-weight: bolder;
}
.txt-cv-top{
    margin-bottom: 0;
    
    font-size: 0.8rem;
}
.txt-cv-bottom{
    margin-top: 0;
    
    font-size: 1.4rem;
}

